* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  background-image: url('/image/liquid.jpg');
  background-repeat: no-repeat;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  backdrop-filter: blur(10px);
  color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color:white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background: white;
  transition: 1s;
}

.navbar a:hover::before{
  width: 100%;
}

.section-heading {
  
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 64px;
  color: white;
  margin: 0 0 70px;
}

.container {

  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.profile {
  position: relative;
  transition: all 0.3s;
  margin: 100px;
}

.profile:hover {
  transform: translateY(25px);
}

.profile img {
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid #f7f7f7;
  filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
  cursor: pointer;

}

.profile:not(:first-child) img {
  margin-left: -20px;
}

.profile .name {
  position: absolute;
  background-color: black;
  color: #fff;
  font-family: "Bebas Neue", cursive;
  padding: 15px 30px;
  border-radius: 100px;
  bottom: -80px; left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50px);
  letter-spacing: 1px;
  font-size: 20px;
  opacity: 0;
  transition: all 0.3s;
}

.profile .name::before {
  content: "";
  position: absolute;
  width: 15px; height: 15px;
  background-color: white;
  top: 0; left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.profile img:hover + .name {
  opacity: 1;
  transform: translateX(-50%);
  box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
}

.logo { 
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.box {
  width: 295px;
  height: 305px;
}

.box .competences {
  position: fixed;
  width: 806px;
  height: 855px;
  top: 0;
  left: 0;
}

.box .overlap-group {
  width: 340px;
  top: 150px;
  left: 0;
  position: absolute;
  height: 305;
}
